
@import url('global.css');
@import url('nav.css');

@import url('sidebar.css');




/* /Main Content Styling */
.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  box-sizing: border-box;
  overflow-y: auto;
}

.main-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.main-content p {
  font-size: 18px;
  color: #555;
}

/* Table Styling */
.vouchers-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.vouchers-list p {
  font-size: 28px;
  font-weight: 600;
}

.vouchers-list th,
.vouchers-list td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.vouchers-list th {

  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.vouchers-list td {
  background-color: #ffffff;
  color: #555;
  font-size: 14px;
}



.vouchers-list .button-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
}


.vouchers-list .button {
  padding: 10px 20px;
  background-color: #007bff; 
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  width: 120px;
  height: 40px;
}

.vouchers-list .pdf_btn {
  padding: 15px 20px;
  background-color: #007bff; 
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  width: 120px;
  height: 40px;
}


.vouchers-list .button:hover {
  background-color: #0056b3;
}

.vouchers-list .button:active {
  transform: scale(0.95);
}

.vouchers-list .button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.vouchers-list .button.view-btn {
  background-color: #17a2b8; 
}

.vouchers-list .button.view-btn:hover {
  background-color: #138496; 
}


.vouchers-list .qr-code-img {
  display: inline-block;
  width: 50px; 
  height: 50px;
  overflow: hidden;
}

.vouchers-list .qr-code-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
