
.sidebar {
  background-color: #333;
  color: white;
  width: 250px;
  padding: 20px;
  box-sizing: border-box;
z-index: 2;
  
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #fff;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  display: block;
  padding: 10px 0;
  border-radius: 4px;

}